<h1>Restaurant Indonesia</h1>
<p>Perfect place, great taste</p>


<a href="" id="accueil">Accueil</a> <!-- tabs pour jQuery UI -->
<a href="" id="carte">Carte & Menus</a>
<a href="" id="photo">Photos</a>
<a href="" id="avis">Avis</a>
<a href="" id="acces">Accès/Contact</a>


<div id="bloc-accueil">

	1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil minima quaerat dignissimos culpa, quasi fuga dolores nobis! Tempora eligendi natus odio rerum, eaque optio, repudiandae dolorem magnam sapiente maiores quidem.
</div>
<div id="bloc-carte">
	 
	2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, suscipit neque, aperiam fugit sequi illum blanditiis dolore quo, eveniet nihil magnam itaque eius veniam velit, ab minus nesciunt unde iste!
</div>
<div id="bloc-photo">
	 
	3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis maxime aliquam explicabo quibusdam iusto nisi doloremque aut fuga ducimus esse repellendus, provident et aperiam odio delectus ipsam reiciendis asperiores ipsum?
</div>
<div id="bloc-avis">
	 
	4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nihil incidunt harum vitae ratione omnis, sint eaque dolor repellendus, quos atque officiis voluptates magni natus fuga ipsam quod molestias quo.
</div>
<div id="bloc-acces">
	 
	5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam modi non reprehenderit, veritatis corporis vitae suscipit quibusdam perferendis veniam ducimus. Perferendis nihil eius delectus modi amet non deserunt, repudiandae quas.
</div>
